/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #39A2FF;
  --ifm-color-primary-dark: #1F8FEF;
  --ifm-color-primary-darker: #1687E6;
  --ifm-color-primary-darkest: #0F6FCC;
  --ifm-color-primary-light: #5BB3FF;
  --ifm-color-primary-lighter: #6BBBFF;
  --ifm-color-primary-lightest: #9AD1FF;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #39A2FF;
  --ifm-color-primary-dark: #1F8FEF;
  --ifm-color-primary-darker: #1687E6;
  --ifm-color-primary-darkest: #0F6FCC;
  --ifm-color-primary-light: #5BB3FF;
  --ifm-color-primary-lighter: #6BBBFF;
  --ifm-color-primary-lightest: #9AD1FF;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}